---
import { Image } from 'astro:assets';

const { product } = Astro.props;
---

<div>
    <Image src={product.featuredImage.url} alt={product.title} width={500} height={500} />
    <h1>{product.title}</h1>
    <p>{product.description}</p>
    <p>{product.variants.nodes[0].price.currencyCode} {product.variants.nodes[0].price.amount}</p>
    <button type="button">Add to Cart</button>
</div>
